<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4Rni1ihQVxOw6J-V2u2ilqroXvNF2uyg</string>
	<key>GCM_SENDER_ID</key>
	<string>976906599225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kupriyanov.TaskManagement</string>
	<key>PROJECT_ID</key>
	<string>myhab-ff85b</string>
	<key>STORAGE_BUCKET</key>
	<string>myhab-ff85b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976906599225:ios:75a23a5997307794de46e8</string>
</dict>
</plist>